/* Small Device 576px) */

@media screen and (max-width: 576px){
      .container {
        padding: 16px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
        
  }

      .menu-icon{
        display: flex;
        justify-items: center;
        align-items: center;
        height: 100%;
  }

      .nav-links, .btn-prymary{
        display: none;
  }


      .hero{
        height: auto;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
      .hero-wave{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180%;
        z-index: 1;
        pointer-events: none;
  }
    .hero-wave img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .btn-prymary{
        display: none;
    }
  .badge-new {
        top: 4%;
        right: 4%;
        font-size: 1rem;
        padding: 8px 16px;
        z-index: 10;
    }
    .hero-btns {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 0 15px;
        margin-top: 30px;
    }
    .hero-btns .hero-btn, 
    .hero-btns .btn-2nd {
        flex: 1;
        max-width: 160px;
        padding: 12px 8px;
        font-size: 11px;
        white-space: nowrap; 
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-visual {
        position: relative;
        z-index: 5;
        width: 240px;
        height: 240px;
        margin-top: 20px;
    }
    .hero-circle img {
        width: 100%;
    }

    .hero-mic img {
        width: 100px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .about-section{
      padding: 40px 20px;
    }
    .container-about{
      padding: 0px;
    }
    .about-content h2{
      font-size: 2rem;
    }
    .about-content p, .sub{
        font-size: 1rem;
    }
    .divider-line {
        margin: 40px 0;
        width: 90%;
    }
    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
        width: 100%;
        justify-items: center;
    }
    .stats-item h3{
        font-size: 2.5rem;
    }
    .stats-item p{
        font-size: 1rem;
    }

    .features {
        padding: 40px 20px;
    }
    .features-grid{
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "headphone"
            "mobile"
            "global"
            "exclusive"
            "book";
        gap: 16px;
    }
    .features-card.headphone{
        padding: 24px;
        width: 100%;
        height: auto;
        min-height: unset;
    }
    .features-card{
        padding: 24px 24px;
          text-align: left; */
          align-items: flex-start;
          width: 100% !important;
    }
   .icon-box{
      justify-content: flex-start;
      margin-bottom: 16px;
    } 

    .features h2{
        font-size: 2rem;
    }

    .episodes{
      padding: 40px 20px;
    }
    .episodes-content h3{
        font-size: 1.25rem;
        margin-bottom: 8px;
    }
    .container h2{
      font-size: 2rem;
      margin-bottom: 24px;
    }
    .episodes-items{
        grid-template-columns: 1fr; 
        padding: 0 20px;
    }
    .episodes-card{
        max-width: 100%;
        border-radius: 20px;
    }


    .host-section{
        margin-top: 60px;
    }
    .host-section h2{
      font-size: 2rem;
    }

    .host-card{
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 16px;
    }
    .host-profile img{
        width: 150px;
        height: 150px;
    }
    .host-details h3{
        font-size: 1.5rem;
    }
    .host-details p{
        font-size: 1rem;
        line-height: 1.5;
    }
    .host-socials{
        justify-content: center;
    }

    .footer{
        min-height: auto;
        padding: 40px 20px;
        margin-bottom: 0;
    }

    .footer h1{
        font-size: 2.5rem;
        margin-bottom: 24px;
    }

    .foot-social-links{
        display: grid;
        grid-template-columns: repeat(2, auto); 
        gap: 16px;
        justify-content: center;
        margin-bottom: 24px;
    }

    .foot-social-links a{
        font-size: 1rem;
        gap: 8px;
    }

    .foot-social-links a i{
        width: 18px;
    }

    .footer-bottom{
        margin-top: 24px;
    }

    .footer-bottom p{
        font-size: 1rem; 
    }
    
    
    .foot-image img {
        width: 100%;
        /* max-width: 440px; */
        height: 300px;
        
    }

}


/* Medium Device 576px to 992px */


@media screen and (min-width: 577px) and (max-width: 992px){
    .containe{
    padding: 16px 50px;
  }

  .menu-icon{
    display: none;
  }

  .nav-links{
    display: flex;
    gap: 20px;
  }


  .hero{
    height: 650px;
    padding: 0 30px;
  }
  .hero-wave{
    width: 130%;
    top: 48%;
  }
  .hero-visual{
    width: 300px;
    height: 300px;
  }

  .hero-circle img{
    width: 300px;
  }

  .hero-mic img{
    width: 130px;
  }

  .hero-content h1{
    font-size: 3.5rem;
  }

  .hero-content p{
    font-size: 1.1rem;
    max-width: 500px;
    margin: 0 auto 24px;
  }

  .hero-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .hero-btns .hero-btn, 
  .hero-btns .btn-2nd{
    max-width: 180px;
    padding: 14px 20px;
    font-size: 14px;
    display: flex;
  }

  .about-section{
        padding: 60px 50px;
  }
  .about-content h2{
        font-size: 2.8rem;
  }
  .stats{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
  }

  .divider-line{
        margin: 60px 0;
  }

  .features{
        padding: 80px 40px;
    }

    .features-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "headphone headphone"
            "mobile global"
            "exclusive exclusive"
            "book book";
    }

    .features-card.headphone{
        width: 100%;
        height: auto;
    }


    .episodes{
        padding: 60px 40px;
    }

    .container h2, .host-section h2{
        font-size: 2.5rem;
    }

    .episodes-items{
        grid-template-columns:
        gap: 20px;
    }

    .host-card{
        flex-direction: row;
        text-align: left;
        padding: 30px;
        gap: 30px;
    }

    .host-profile img{
        width: 160px;
        height: 160px;
    }
    
    .host-socials{
        justify-content: flex-start;
    }

    .footer{
        padding: 80px 0 40px;
        min-height: 350px;
    }

    .footer h1{
        font-size: 3.5rem;
        margin-bottom: 28px;
    }

    .foot-social-links{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .foot-image img{
        height: 350px;
        
    }
  
}


/* Large Device above 992px */

@media screen and (min-width: 993px){
    .container {
        padding: 16px 200px;
    }

  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 32px;
  }

  .btn-prymary {
    display: flex;
  }

  .hero {
    height: 760px;
    max-width: 1600px;
    margin: 0 auto;
  }

  .hero-wave {
    width: 100%;
    top: 50%;
    opacity: 1;
  }

  .hero-visual {
    width: 380px;
    height: 380px;
    margin-bottom: 30px;
  }

  .hero-circle img {
    width: 380px;
  }

  .hero-mic img {
    width: 160px;
  }

  .badge-new {
    top: 20px;
    right: 20px;
    font-size: 1.1rem;
    padding: 8px 16px;
  }

  .hero-content h1 {
    font-size: 4.5rem;
    margin-bottom: 12px;
  }

  .hero-content p {
    font-size: 1.1rem;
    max-width: 650px;
    margin: 0 auto 40px;
  }

  .hero-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .hero-btns .btn-prymary, 
  .hero-btns .btn-2nd {
    min-width: 200px; 
    padding: 16px 30px;
    font-size: 1rem;
  }
  .features {
        padding: 80px 20px;
        max-width: 100%;
        min-height: auto;
    }

    .features-container{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    .features-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 16px;
        grid-template-areas: 
            "headphone mobile mobile"
            "headphone global global"
            "exclusive exclusive book";
    }

    .features-card.headphone{
        width: 100%;
        height: 100%;
        max-height: 500px;
    }

    .features-card{
        padding: 30px;
    }

    .episodes{
        padding: 100px 0;
    }

    .container h2, .host-section h2{
        font-size: 3rem;
    }

    .episodes-items{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .episodes-card{
        max-width: 380px;
        height: 440px;
    }

    .host-card{
        flex-direction: row;
        text-align: left;
        padding: 40px;
        gap: 40px;
    }

    .host-profile img{
        width: 200px;
        height: 200px;
    }

    .host-socials{
        justify-content: flex-start;
    }

    .footer{
        padding: 100px 0 50px;
        min-height: 412px;
    }

    .foot-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1600px;
        z-index: 1;
    }
    .foot-container{
        position: relative;
        z-index: 2;
    }

    .footer h1{
        font-size: 4rem;
        margin-bottom: 32px;
    }

    .foot-social-links{
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 32px;
    }

    .footer-bottom{
        margin-top: 40px;
    }
    
}