* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color: #1A0B2E;
}

/* navbar style */

.navbar{
    background-color: #1A0B2E;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 200px;
}

.logo{
    font-size: 1.8rem;
    font-weight:700;
    color: #FFFFFF;
    text-decoration: none;
}

.logo span{
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 32px;
}
.nav-links a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links a:hover{
    color: rgba(255, 238, 0, 0.789);
    
}

.btn-prymary{
    background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: transform 0.3s;
}

.btn-prymary:hover {
  transform: scale(1.1);
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;

}


/* hero section style */

.hero{
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-btn{
    background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: transform 0.3s;
}

.hero-btn:hover {
  transform: scale(1.1);
}

.hero-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

.hero-wave img {
    width: 100%;
    object-fit: cover;
}

.hero-visual{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
}

.hero-circle{
    position: relative;
}

.hero-circle img{
    width: 350px;
    height: auto;
}

.badge-new{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    z-index: 5;
    box-shadow: 0 0 15px rgba(0, 255, 133, 0.4);
}

.hero-mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    line-height: 0;
}

.hero-mic img {
    width: 130px;
    height: auto;
}

.hero-content {
    position: relative;
    z-index: 10;
}

.hero-content h1 {
    font-size: 3.8rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-content p {
    font-size: 1rem;
    color: #FFFFFF;
    max-width: 600px;
    margin: 0 auto 30px;
}

.hero-btns{
    position: relative;
    z-index: 20;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 24px;
}

.btn-2nd{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.btn-2nd:hover{
    background: rgba(0, 255, 136, 0.1);
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.2);
    transform: scale(1.1);
}

.hero-btn i, .btn-2nd i {
    font-size: 1.2rem;
}

/* About Section */

.about-section{
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.container-about{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content h2{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.about-content p{
    font-size: 1rem;
    line-height: 1.8;
    color: #FFFFFF;
}
.sub{
    font-size: 1rem;
    line-height: 1.8;
    color: #FFFFFF;
    margin-top: 40px;;
}
.divider-line {
    width: 85%;
    max-width: 1200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 80px 0;
}
.stats{
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
}

.stats-item h3{
    font-size: 3.5rem;
    font-weight: 800;
    color: #00FF88;
    margin: 0;
}

.stats-item p{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    margin-top: 10px;
}

/* Features section */

.headphone{ 
    grid-area: headphone; 
}
.mobile{
    grid-area: mobile; 
}
.global{ 
    grid-area: global; 
}
.exclusive{ 
    grid-area: exclusive;
}
.book{ 
    grid-area: book; 
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    grid-template-areas: 
        "headphone mobile mobile"
        "headphone global global"
        "exclusive exclusive book";
    
}

.features{
    background-color: #230E3D;
    padding: 120px 200px;
    color: #FFFFFF;
    width: 100%;
    max-width: 1600px;
    min-height: 1121px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.features h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.features-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 30px;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    /* gap: 12px; */
}
.features-card:hover {
    transform: translateY(-5px);
}

.icon-box{
    width: auto;
    height: auto;
    gap: 16px;
    margin-bottom: 16px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
}
.icon-box i{
    font-size: 3rem;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    margin-bottom: 20px;
}

.features-card h3{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
}

.features-card p {
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0;
}

.features-card.headphone {
    grid-area: headphone;
    width: 380px;
    height: 480px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.features-card {
    min-height: 225px;
}
.features-card .icon-box {
    margin-bottom: 16px;
}

.features-card h3 {
    margin-bottom: 16px;
    line-height: 1.2;
}

.features-card p {
    line-height: 1.6;
}